<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Shop Online</title>
    <link href="../static/style.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<!-------header------------------------------------------------------------------------------------------------------------------------ -->

</head>
<body>
    <div>
            <nav class="navbar navbar-expand-lg" style="padding: 0">
            <div class="container-fluid corHeader">
                <a class="navbar-brand" href="#">
                    <img src="../static/img/logo.png" style="width: 40px;" alt="Logo" />
                    <strong style="width: 40px;">Mundo Pets</strong>
                </a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Ínicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/produtos">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/dicas">Dicas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="https://wa.me/5518935007007">
                                <button class="btn btn-success"
                                    style="border-radius: 20px; background-color: #d40b0b; border-color: #f80c0c;">
                                    Agente seu atendimento
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <h1 style="margin: 0; font-size: 40px; padding-bottom: 30px; padding-top: 28px; background-color: var(--cor--principal); color: #424E66; text-align: center;">
        DICAS DE CUIDADO PARA SEU PET!
        <img src="../static/img/pata.png" style="width: 45px">
    </h1>
    <div class="ps">
        <div class="p1">
            <p> -> Mantenha uma dieta equilibrada e adequada para o seu animal de estimação. <br>
                -> Proporcione exercícios regulares para manter seu animal de estimação ativo e saudável.<br>
                -> Certifique-se de que seu animal de estimação tenha água fresca e limpa disponível o tempo todo. <br>
           </p>

        </div>
              <img style="border-radius: 60px; align-items: center; justify-items: center; margin-top: 30px; width: 450px; padding: 10px " src="../static/img/petts.jpg">
{#            <img src="../static/img/">#}
        </div>
    <div class="ps">
            <p class="p2">
                -> Agende consultas regulares com um veterinário para garantir que seu animal esteja em boas condições de saúde. <br>
                -> Dê amor, carinho e atenção ao seu animal de estimação todos os dias para promover seu bem-estar emocional. <br>
                -> Mantenha a higiene do seu animal de estimação, incluindo banhos regulares e cuidados dentários.
            </p>
        </div>
    <div class="form">
        <img style="margin: 30px; width: 370px" src="../static/img/max.png">
              <div>
                    <div>
                          <h2 class="txto">Faça parte do Mundo Pets</h2>
                          <p>Ganhe um produto e um atendimento grátis.</p>
                    </div>
              <div>

              <div class="grid">
                  <div class="inputs">

                      <div>
                          <label>
                              Informe seu nome:
                              <input class="inp" placeholder="Ex: Gabrielle" />
                          </label>
                      </div>

                      <div>
                          <label>
                              Informe seu email:
                              <input class="inp" placeholder="Ex: gabizinha@gmail.com " />
                          </label>
                      </div>

                      <div>
                          <label>
                              Informe seu telefone:
                              <input class="inp" placeholder="(18) 00000-0000" />
                          </label>
                      </div>

                      <div class="bnts">
                          <a class="nav-link" style="display: inline" aria-current="page" href="https://wa.me/5518935007007">
                              <button class="boto">Agendar</button>
                          </a>
                          <button class="boto">Enviar</button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    <div class="footer">
        <div class="footerLogo">
            <img src="../static/img/logo.png" style="width: 40px;" alt="Logo" /><p> Mundo Pets </p>
        </div>
        <div class="ctts">
            <div class="ctts3">
                <img src="../static/img/face.png" style="width: 20px;"><p> MundoPetsOficial </p>
                <img src="../static/img/insta.png" style="width: 20px;"><p> MundoPetsOficial </p>
                <img src="../static/img/whats.png" style="width: 20px;"><p style="width: 200px">(18)98107-2047 </p>
            </div>

            <div class="ctts2">
                <img src="../static/img/ttk.png" style="width: 20px;"><p> MundoPets </p>
                <img src="../static/img/yt.png" style="width: 20px;"><p> MundoPetsOficialTv</p>
                <img src="../static/img/tell.png" style="width: 20px;"><p>(18) 3615-4850 </p>

            </div>
        </div>
        <div class="local">
            <img src="../static/img/loc.png" style="width: 20px;"><p style="text-align: center">Rua Lorem Ipsum Nº 123, Centro - Birigui / SP</p>
            <p style="text-align: center;">Bairro: Vista dos Sonhos</p> <p style="text-align: center;">CEP: 12345-678</p>
        </div>
    </div>

</body>
</html>
