<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Shop Online</title>
    <link href="../static/style.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<!-------header------------------------------------------------------------------------------------------------------------------------ -->
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg" style="padding: 0">
        <div class="container-fluid corHeader">
            <a class="navbar-brand" href="#">
                <img src="../static/img/logo.png" style="width: 40px;" alt="Logo" />
                <strong style="width: 40px;">Mundo Pets</strong>
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Ínicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/produtos">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dicas">Dicas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="https://wa.me/5518935007007">
                            <button class="btn btn-success"
                                style="border-radius: 20px; background-color: #d40b0b; border-color: #f80c0c;">
                                Agente seu atendimento
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
    <div class="ofertas">
        <div>
            <div class="img">
               <div class="textinho">
                   <h1>APROVEITE JÁ</h1>
                   <h2>OFERTAS ESPECIAIS</h2>
               </div>
               <div class="coisas">
                   <div>
                       <img src="../static/img/briquedo.png" style="width: 170px;">
                       <p>Brinquedos </br> R$ 24,99 </p>
                   </div>

                   <div>
                       <img src="../static/img/roupa.png" style="width: 190px;">
                       <p>Roupinha </br> R$ 15,90 </p>
                   </div>

                   <div>
                       <img src="../static/img/petiscos.png" style="width: 170px;">
                       <p>Petiscos </br> R$ 19,99</p>
                   </div>

                   <div>
                       <img src="../static/img/comedouro.png" style="width: 190px;">
                       <p>Comedouro </br> R$ 45,90</p>
                       <p></p>
                   </div>

                   <div>
                       <img src="../static/img/racao.png" style="width: 170px;">
                       <p>Ração </br> R$ 49,99</p>
                   </div>
               </div>
            </div>
           <button class="f4"><img src="../static/img/button.png" style="width: 250px;"></button>
        </div>
    </div>
    <div class="tx">
        <h2 class="texto">LOCALIZAÇÃO Pets </h2>
        <div class="localizacao">
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3717.6263396612376!2d-50.33891513710281!3d-21.286253583441475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x949614d8651385f1%3A0x9988839638a419cd!2sSenai!5e0!3m2!1spt-BR!2sbr!4v1702899361083!5m2!1spt-BR!2sbr"
                        width="600" height="450" style="  margin: 80px 60px; border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="sobre">
                <h3 class="txt">Sobre nós</h3>
                <p style="font-size: 13px; justify-items: center;">O Mundo Pets é uma loja dedicada ao bem-estar de animais de estimação.
                    Oferecemos produtos de alta qualidade, serviços de grooming e orientação especializada. Além disso,
                    promovemos uma comunidade apaixonada por pets. Venha fazer parte da nossa família de amantes de
                    petse cuide do bem-estar dos seus animais com a gente.</p>
            </div>



        </div>
    </div>
    <div class="footer">
        <div class="footerLogo">
            <img src="../static/img/logo.png" style="width: 40px;" alt="Logo" /><p> MundoPets </p>
        </div>
        <div class="ctts">
            <div class="ctts3">
                <img src="../static/img/face.png" style="width: 20px;"><p> MundoPetsOficial </p>
                <img src="../static/img/insta.png" style="width: 20px;"><p> MundoPetsOficial </p>
                <img src="../static/img/whats.png" style="width: 20px;"><p style="width: 200px">(18)98107-2047 </p>
            </div>

            <div class="ctts2">
                <img src="../static/img/ttk.png" style="width: 20px;"><p> MundoPets </p>
                <img src="../static/img/yt.png" style="width: 20px;"><p> MundoPetsOficialTv</p>
                <img src="../static/img/tell.png" style="width: 20px;"><p>(18) 3615-4850 </p>

            </div>
        </div>
        <div class="local">
            <img src="../static/img/loc.png" style="width: 20px;"><p style="text-align: center">Rua Lorem Ipsum Nº 123, Centro - Birigui / SP</p>
            <p style="text-align: center;">Bairro: Vista dos Sonhos</p> <p style="text-align: center;">CEP: 12345-678</p>
        </div>
    </div>


</body>
</html>

