<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Shop Online</title>
    <link href="../static/style.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<!-------header------------------------------------------------------------------------------------------------------------------------ -->

</head>
<body>

    <div>
            <nav class="navbar navbar-expand-lg" style="padding: 0">
            <div class="container-fluid corHeader">
                <a class="navbar-brand" href="#">
                    <img src="../static/img/logo.png" style="width: 40px;" alt="Logo" />
                    <strong style="width: 40px;">Mundo Pets</strong>
                </a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Ínicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/produtos">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/dicas">Dicas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="https://wa.me/5518935007007">
                                <button class="btn btn-success"
                                    style="border-radius: 20px; background-color: #d40b0b; border-color: #f80c0c;">
                                    Agente seu atendimento
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <h1 class="txt" style="margin: 0;  padding: 40px; font-size: 50px">Produtos da loja</h1>
    <div class="produts">
        <div>
            <div class="capa">
                <div>
                    <img src="../static/img/capa.png">
                </div>
                <div>
                    <p>Capa de chuva</p>
                    <p>Mantenha seu cachorro seco e elegante com nossa capa de chuva resistente à água,<br> disponível em diversos tamanhos para o máximo conforto e proteção durante os dias.</p>
                    <p>R$ 29,89</p>
                    <button class="bnt">EU QUERO!</button>
                </div>
            </div>
            <div class="coll" style="margin: 20px 0px;">
                <div>
                    <img src="../static/img/coleira.png">
                </div>
                <div>
                    <p>Coleira para seu pet</p>
                    <p>"Coleira Elegante para Pets - Um toque de estilo e segurança para seu melhor amigo."</p>
                    <p>R$ 39,99</p>
                    <button class="bnt">EU QUERO!</button>
                </div>
            </div>
        </div>
{# ---------------------------------------------------------------------------------------- #}
        <div>
            <div class="perfm">
                <div>
                    <img src="../static/img/perf.png">
                </div>
                <div>
                    <p>Perfumes para seu pet</p>
                    <p>Um perfume cativante que encapsula a doçura e a lealdade do amor entre você e seu pet, <br> com notas refrescantes e acolhedoras que permanecem perto do coração.</p>
                    <p>R$ 29, 89</p>
                    <button class="bnt">EU QUERO!</button>
                </div>
            </div>
            <div class="banho" style="margin: 20px 0px;">
                <div>
                    <img src="../static/img/banho.png">
                </div>
                <div>
                    <p>Produtos para banho</p>
                    <p>A linha de cuidados de banho para pets - Mimos de Higiene e Frescor.</p>
                    <p>R$ 18, 90</p>
                    <button class="bnt">EU QUERO!</button>
                </div>
            </div>
        </div>

    </div>
    <button style=" margin: 0 auto; border: none; align-items: center;
    width: 100%; background-color: var(--cor--principal); padding-bottom: 65px; justify-items: center;"><img class="bp" src="../static/img/botao.png"></button>
    <h2 class="txt" style="margin: 0; font-size: 40px">Kits exclusivos</h2>
    <div class="kits">
        <div class="brancao">
            <div>
                <div class="branquin">
                    <img src="../static/img/ktlanche.png">
                </div>
                <p>Kit Lanche <br> R$ 59,90</p>
            </div>

            <div>
                <div class="branquin">
                 <img src="../static/img/ktbanho.png">
                </div>
                <p>Kit Banho <br> R$ 39,90</p>
            </div>

            <div>
                <div class="branquin">
                 <img src="../static/img/ktcdd.png">
                </div>
                 <p>Kit cuidado <br> R$ 29,90</p>
            </div>
        </div>
{#----------------------------------------------------------------------------------------------------------------#}
        <div class="brancao">
            <div>
                <div class="branquin">
                 <img src="../static/img/ktcasa.png">
                </div>
                <p>Kit Casa <br> R$ 49,99</p>
            </div>

            <div>
                <div class="branquin">
                 <img src="../static/img/ktroupinha.png">
                </div>
                <p>Kit Roupinha <br> R$ 39,90</p>
            </div>

            <div>
                <div class="branquin">
                 <img src="../static/img/ktcll.png">
                </div>
                <p>Kit coleira <br> R$ 28,49</p>
            </div>
        </div>
    </div>
    <button style=" margin: 0 auto; border: none; align-items: center;
    width: 100%; background-color: var(--cor--principal); padding-bottom: 65px;
    justify-items: center;"> <img style="width: 250px;" src="../static/img/kitss.png"></button>
    <div class="footer">
        <div class="footerLogo">
            <img src="../static/img/logo.png" style="width: 40px;" alt="Logo" /><p> MundoPets </p>
        </div>
        <div class="ctts">
            <div class="ctts3">
                <img src="../static/img/face.png" style="width: 20px;"><p> MundoPetsOficial </p>
                <img src="../static/img/insta.png" style="width: 20px;"><p> MundoPetsOficial </p>
                <img src="../static/img/whats.png" style="width: 20px;"><p style="width: 200px">(18)98107-2047 </p>
            </div>

            <div class="ctts2">
                <img src="../static/img/ttk.png" style="width: 20px;"><p> MundoPets </p>
                <img src="../static/img/yt.png" style="width: 20px;"><p> MundoPetsOficialTv</p>
                <img src="../static/img/tell.png" style="width: 20px;"><p>(18) 3615-4850 </p>

            </div>
        </div>
        <div class="local">
            <img src="../static/img/loc.png" style="width: 20px;"><p style="text-align: center">Rua Lorem Ipsum Nº 123, Centro - Birigui / SP</p>
            <p style="text-align: center;">Bairro: Vista dos Sonhos</p> <p style="text-align: center;">CEP: 12345-678</p>
        </div>
    </div>

</body>
</html>
